version: '3.7'
services:
  web:
    container_name: "teslatrack-web"
    build: .
    ports:
      - "8000:8000"
    links:
      - db
      - redis
    depends_on:
      - db
      - redis
    volumes:
      - .:/go/src/github.com/christopher-wong/teslatrack

  db:
    container_name: "teslatrack-db"
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - pgdata:/var/lib/postgresql/data

  redis:
    container_name: "teslatrack-redis"
    command: redis-server --requirepass redis
    image: redis:latest
    ports:
      - '6379:6379'

volumes:
  pgdata: